:root{
    --color-light-gray: #eee;

    --color-blue:  #83acd8;
    --color-light-blue: #ADC4DD;
    --color-sky-blue: #87cefa;
    --color-cerulean-blue: #305eb3;
    --color-forest-green: #71be71;
    --color-green: #008000;
    --color-light-green: #bcf4bc;
    --color-gray: #c5c5c5;
    --color-dark-gray: #8a8a8a;
    --color-silver: #cfcfcf;
    --color-black: #000000;
    --color-purple: #680475;
}

html,body{
    font-family: Calibri, Arial, Helvetica;
    margin: 0;
    padding: 0;
    background-color: var(--color-light-gray);
    line-height: 1.5;
  }

p {
    margin: 10px;
}
.main-section header {
    color: rgb(2, 121, 121);
    margin: 10px;
    text-align: left;
    font-size: 1.6em;
    font-weight: 550;
}

  #main-doc {
    margin-left: 350px;
  }
  #navbar {
    display: flex;
    left: 0;
    top: 0px;
    position: fixed;
    width: 320px;
    height: 100%;
    border: solid;
    border-color: rgba(0, 22, 22, 0.4);
  }
  #navbar header {
    text-align: center;
    font-size: 30px; rgb(2, 121, 121);
    background-color:  rgb(2, 121, 121);
    color: white;
    position: absolute;
    width: 320px;

  }
  #navlinks {
    margin-top: 45px;
  }

  #navbar ul {
    list-style-type: none; 
    font-size: 18px;
    padding:0 ;
    overflow-y:auto;
    overflow-x:hidden;
  }

  #navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    width: 100%;
  }

  #navbar a {

    flex: 1;
    background-color: #eee;

    color: black;
    display: block; /* Make the links appear below each other */
    padding: 12px;
    text-decoration: none; /* Remove underline from links */
  }
  #navbar a:hover {
    background-color: rgb(2, 179, 179);
    color: white;
    box-shadow: 0 2px 2px #777;
    transform: translateY(-2px);
 
  }
  
  /*!-- ****************************** --*/

  @media (max-width: 860px) {
    body {
      flex-direction: column;
    }
    
    #navbar {
        white-space: nowrap;
        width: 100%;
        position: absolute;
        max-height: 190px;
        border: none;
        border-bottom: 2px solid;
    }
    #navbar header {
        width: 100%;
        height: 50px;
    }
    #navbar ul {
        border: 1px solid;
        height: 170px;

    }

    #navbar a {
        padding: 12px 600px 0px 20px;
    }

    /* aumenta a letra do menu*/
    .nav-link {
      font-size: 1.2rem;
    }
    
    #main-doc {
      margin-top: 250px;
      margin-left: 0;
      position: relative;

    }
  }

  /** -- IMG -- **/
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /** -- CODES -- **/
  
  .code-screen {
    font-family: monospace;
    background-color:black;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
  }

/* -- HTML example code -- */
.lang-html span{
    color:#0065ff; 
}
.lang-html span.att {
    color:rgb(31, 142, 179);
}
.lang-html span.inf {
    color: orange;
}
  
/* -- CSS and JS example code -- */
.lang-css-js span{
    color:peru;
}
.lang-css-js span.att {
    color:rgb(31, 142, 179);
}
.lang-css-js span.value {
    color: lightgreen;
}
.lang-css-js span.inf {
    color: orangered;
}

  /* -- Code --*/
  
code {
    font-size: 1.2em;
    padding: 5px;
    margin: 0 10px;
    border-radius: 5px;
    line-height: 2;
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    background-color: rgb(209, 238, 209);
  }
  